<h2 ng-hide="searchingComplete" style="text-align:center;"><br/><br/>Pulling Results ...........</h2>
<h3 ng-show="company" style="text-align:center">
	Detailed Information
</h3>
<table ng-show="company">
	<tbody vocab="http://schema.org/" typeof="Organization">
		<tr>
			<td style="background-color: teal; color: white;"><b>Company Name</b></td>
			<td><span property="legalName"><b>{{company.name}}</b></span></td>
		</tr>
		<tr>
			<td style="background-color: teal; color: white;"><b>City</b></td>
			<td><span property="locationCity">{{company.locationCity}}</span></td>
		</tr>
		<tr>
			<td style="background-color: teal; color: white;"><b>Country</b></td>
			<td><span property="locationCountry">{{company.locationCountry}}</span></td>
		</tr>
		<tr>
			<td style="background-color: teal; color: white;"><b>Key Executives</b></td>
			<td><span property="keyPeople">{{company.keyPeople}}</span></td>
		</tr>
		<tr>
			<td style="background-color: teal; color: white;"><b>Stock Symbol</b></td>
			<td><span property="symbol">{{company.symbol}}</span></td>
		</tr>
		<tr>
			<td style="background-color: teal; color: white;"><b>Description</b></td>
			<td><span property="aabstract">{{company.aabstract}}</span></td>
		</tr>
		<tr>
			<td style="background-color: teal; color: white;"><b>Revenue</b></td>
			<td><span property="revenue">{{company.revenue}}</span></td>
		</tr>
		<tr>
			<td style="background-color: teal; color: white;"><b>Net Income</b></td>
			<td><span property="netIncome">{{company.netIncome}}</span></td>
		</tr>
		<tr>
			<td style="background-color: teal; color: white;"><b>Founded By</b></td>
			<td><span property="foundedBy">{{company.foundedBy}}</span></td>
		</tr>
		<tr>
			<td style="background-color: teal; color: white;"><b>Founding Date</b></td>
			<td><span property="foundingDate">{{company.foundingDate}}</span></td>
		</tr>
		<tr>
			<td style="background-color: teal; color: white;"><b>Number of Employees</b></td>
			<td><span property="numEmployees">{{company.numEmployees}}</span></td>
		</tr>
		<tr>
			<td style="background-color: teal; color: white;"><b>Wikipedia URL</b></td>
			<td><span property="isPrimaryTopicOf">{{company.isPrimaryTopicOf}}
					<br /> {{company.dataSourceUrl}}
			</span></td>
		</tr>
		<tr>
			<td style="background-color: teal; color: white">
				<b>
					Personalized Notes 
					<br/>
					<b style="color:#FFFF99">Stored in local RDF data store</b> 
				</b>
			</td>
			<td >				
				<span property="notes" style="color:maroon"><b>{{company.notes}}</b></span>
			</td>
		</tr>
		<tr>			
			<td style="text-align:center;" colspan="2">
				<form action="" name="Update Notes">
					<input placeholder="         Add Notes about this company" style="padding:2px ; background-color:cornsilk ; height:50px ; width: 500px; border:1px solid grey; border-radius:25px;" ng-model="notes" ></input>
					<br/> <br/>
					<button type="submit" ng-click="updateNotes(company.resourceIdentifier);">
						Add Personalized Notes
					</button> 
					<br/>  
					<b ng-show="isNotesUpdated" style="color:maroon;">
						The Notes is Updated in the local RDF data store for {{company.name}}
					</b>
				</form>
			</td>
		</tr>
	</tbody>
</table>