<!DOCTYPE html>
<html lang="en" ng-app="SemanticWikiSearchApp">
	<head>		
		<title>SemanticWikiSearch</title>
		
		<link rel="stylesheet" type="text/css" href="css/wiki-search.css"></link>
		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
		<script type="text/javascript" src="js/wiki-search.js"></script>
	</head>
	<body>		
		<header>			
			<img id="imgsematiclogo" src="images/RDFa.jpg"/>
			<h2 style="text-align: center ; color: blue ; text-shadow: 1px 1px blue">Company Profile Search - A Semantic approach</h2>
			<p style="text-align: center ; color: grey">
				<em>Sophisticated Search of a Company's Profile. Powered with WikiPedia-DBPedia's Data</em>
			</p>			
			<img id="imagwikipedia" src="images/sparql.jpg"/>
		</header>

		<article ng-controller="CompanySearchController">
			<nav>
				<h2 style="color:white">
						<input type="checkbox" ng-model="keywordSearchRadio">Keyword Search</input>
						<br/>
						<input type="checkbox" ng-model="multipleOptionSearchRadio">Multiple Option Search</input>
				</h2>
				
				<div style="border: double; padding:5px" ng-show="keywordSearchRadio">
					<h2 style="color:white">Keyword Search</h2>
					<form action="" name="Keyword Search">
						<b>Company Keyword : </b> <input ng-model="keyword" type="search"></input>
						<br />
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" ng-click="keywordSearch();">Submit</button>
					</form>
				</div>
				
				<br/>
				<div style="border: double ; padding:5px ;" ng-show="multipleOptionSearchRadio">
					<h2 style="color:white; width: 100%">Multiple Option Search</h2>
					<form action="" name="Multi Option Search" style="right:5px">
						<table>
							<tbody>
								<tr>
									<td>
										<b>Company Name :</b> <input ng-model="companyName" type="text"  />
									</td>
									<td>
										<b>Industry Name :</b> <input ng-model="industryName" type="text"  />
									</td>
								</tr>
								<tr>
									<td>
										<b>Stock Symbol :</b> <input ng-model="stockSymbol" type="text"  />
									</td>
									<td>
										<b>key People :</b> <input ng-model="keyPeople" type="text"  />	
									</td>
								</tr>
								<tr>
									<td>
										<b>Employee Size >  </b> 
										<input ng-model="greaterThanEmployeeSize" name=empsize1-test type=range min=1000 max=1000000 step=1000 onchange="this.form.empsize1.value=this.value;">						
										<output name=empsize1 for=range-test value=0></output>
									</td>								
									<td>
									<b>Employee Size < </b>
									<input ng-model="lesserThanEmployeeSize" name=empsize2-test type=range min=1000 max=1000000 step=1000 onchange="this.form.empsize2.value=this.value;">
									<output name=empsize2 for=range-test value=0></output>
									</td>
								</tr>
								<tr>
									<td>
										<b>Founded Date :</b> <input ng-model="foundingDate" type="date"  />
									</td>
									<td>
										<b>Founded By :</b> <input ng-model="foundedBy" type="text"  />
									</td>
								</tr>
								<tr>
									<td>
										<b>Income > </b> <input ng-model="income" type="number"  />	
									</td>
									<td>
										<b>Revenue > </b> <input ng-model="revenue" type="number"  />		
									</td>
								</tr>
								<tr>
									<td>
										<b>City : </b><input ng-model="city" type="text"  />	
									</td>
									<td>
										<b>Country : </b> <input ng-model="country" type="text"  />	
									</td>
								</tr>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="reset" >Reset</button>&nbsp;&nbsp; 
								<button type="submit" ng-click="multipleOptionSearch();">Submit</button>								
							</tbody>
						</table>				
					</form>
				</div>
			</nav>
	
			<section>				
				<div ng-hide="company">
					<h3 ng-show="keyword || companyName || industryName || stockSymbol || greaterThanEmployeeSize
									|| lesserThanEmployeeSize || foundedBy || foundedDate || income ||
									 revenue || city || state || country || xxx" >Input Search Criteria</h3>
					<p style="color:green">
						<span style="color:green" ng-show="keyword">Company Keyword : <span style="color:blue" ng-show="keyword">{{keyword}} </span></span>&nbsp;&nbsp;&nbsp;
						<span style="color:green" ng-show="companyName">companyName : <span style="color:blue" ng-show="companyName">{{companyName}}  </span></span>&nbsp;&nbsp;&nbsp;						
						<span style="color:green" ng-show="industryName">industryName : <span style="color:blue" ng-show="industryName"> {{industryName}}  </span></span>&nbsp;&nbsp;&nbsp;
						<span style="color:green" ng-show="stockSymbol">stockSymbol : <span style="color:blue" ng-show="stockSymbol">{{stockSymbol}} </span> </span>&nbsp;&nbsp;&nbsp;
						<span style="color:green" ng-show="greaterThanEmployeeSize">greaterThanEmployeeSize : <span style="color:blue" ng-show="greaterThanEmployeeSize">{{greaterThanEmployeeSize}} </span> </span>&nbsp;&nbsp;&nbsp;
						<span style="color:green" ng-show="lesserThanEmployeeSize">lesserThanEmployeeSize : <span style="color:blue" ng-show="lesserThanEmployeeSize">{{lesserThanEmployeeSize}}  </span></span>&nbsp;&nbsp;&nbsp;
						<span style="color:green" ng-show=foundedBy>foundedBy : <span style="color:blue" ng-show=foundedBy>{{foundedBy}}  </span></span>&nbsp;&nbsp;&nbsp;
						<span style="color:green" ng-show="foundedDate">foundedDate : <span style="color:blue" ng-show="foundedDate"> {{foundedDate}}  </span></span>&nbsp;&nbsp;&nbsp;
						<span style="color:green" ng-show="income">income : <span style="color:blue" ng-show="income">{{income}} </span> </span>&nbsp;&nbsp;&nbsp;
						<span style="color:green" ng-show="revenue">revenue : <span style="color:blue" ng-show="revenue"> {{revenue}}  </span></span>&nbsp;&nbsp;&nbsp;
						<span style="color:green" ng-show="city">city : <span style="color:blue" ng-show="city">{{city}}  </span></span>&nbsp;&nbsp;&nbsp;		
						<span style="color:green" ng-show="state">state : <span style="color:blue" ng-show="state">{{state}} </span> </span>&nbsp;&nbsp;&nbsp;
						<span style="color:green" ng-show="country">country : <span style="color:blue" ng-show="country">{{country}}  </span></span>&nbsp;&nbsp;&nbsp;
						<span style="color:green" ng-show="xxx">xxx : <span style="color:blue" ng-show="xxx">{{xxx}}  </span></span>&nbsp;&nbsp;&nbsp;				
					</p>
				</div>
				
				
				
				<div ng-show="companies"><h3>Company Search Results</h3>					
					<table>
						<thead>
							<tr>
								<th>Index</th>
								<th>Company Name</th>
								<th>Country</th>
								<th>Key Executives</th>								
							</tr>
						</thead>
						<tbody vocab="http://schema.org/" typeof="Organization">
							<tr ng-repeat="company in companies">
								<td>{{$index + 1}}</td>
								<td><span property="legalName"><a ng-click="getCompanyInfo(company.resourceIdentifier);">{{company.name}}</a></span></td>
								<td><span property="locationCountry">{{company.locationCountry}}</span></td>
								<td><span property="keyPeople">{{company.keyPeople}}</a></span></td>
							</tr>
						</tbody>						
					</table>
				</div>				
				
				<div ng-show="company" vocab="http://schema.org/" typeof="Organization">
					<h4> <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>Detailed Information</em></b></h4>					
					<table>						
						<tbody>
							<tr>
								<td><b>Company Name</b></td>
								<td style="color:blue"><span property="legalName">{{company.name}}</span></td>
							</tr>
							<tr>
								<td><b>City</b></td>
								<td><span property="locationCity">{{company.locationCity}}</span></td>
							</tr>
							<tr>
								<td><b>Country</b></td>
								<td><span property="locationCountry">{{company.locationCountry}}</span></td>
							</tr>
							
							<tr>
								<td><b>Key Executives</b></td>
								<td><span property="keyPeople">{{company.keyPeople}}</span></td>
							</tr>
							<tr>
								<td><b>Stock Symbol</b></td>
								<td><span property="symbol">{{company.symbol}}</span></td>
							</tr>
							<tr>
								<td><b>Description</b></td>
								<td><span property="aabstract">{{company.aabstract}}</span></td>
							</tr>
							<tr>
								<td><b>Revenue</b></td>
								<td><span property="revenue">{{company.revenue}}</span></td>
							</tr>
							<tr>
								<td><b>Net Income</b></td>
								<td><span property="netIncome">{{company.netIncome}}</span></td>
							</tr>
							<tr>
								<td><b>Founded By</b></td>
								<td><span property="foundedBy">{{company.foundedBy}}</span></td>
							</tr>
							<tr>
								<td><b>Founding Date</b></td>
								<td><span property="foundingDate">{{company.foundingDate}}</span></td>
							</tr>
							<tr>
								<td><b>Number of Employees</b></td>
								<td><span property="numEmployees">{{company.numEmployees}}</span></td>
							</tr>
							<tr>
								<td><b>Wikipedia URL</b></td>
								<td><span property="isPrimaryTopicOf">{{company.isPrimaryTopicOf}} <br/> {{company.dataSourceUrl}}  </span></td>
							</tr>
							<tr>
								<td><b>Notes</b></td>
								<td>
									<span property="notes">{{company.notes}}</span>
									<input style="width:500px; height:50px" ng-model="notes"></input>
									<br/>
									<button type="submit" ng-click="updateNotes(company.resourceIdentifier);">Save Notes</button>
									<br/>
									<b ng-show="isNotesUpdated" style="color:brown;padding-left: 50px">The Notes is Updated in the local RDF data store for <b style="color:blue">{{company.name}}</b></b>									
								</td> 								
							</tr>							
						</tbody>						
					</table>
				</div>	
			</section>			
		</article>

		<footer>
			<img id="imagcognizant" alt="" src="images/cognizant.jpg">
			<p style="padding-left: 100px ; padding-right:100px ; color: blue; text-align: center;">
				<b>This is a research project submitted for BITS MS-Software Engineering Thesis - demonstrating the capabilities of Semantic Technologies - SPARQL, RDFa and Semantic Markups</b>				
				<br/>
				<span style="color: grey">
					 @ <b><em>Guide</em></b>  : Raghul Nandagopal
					 <br/>
					 @ <b><em>Student Name</em></b> : Prabhakaran . T
					 -----  
					 @ <b><em>BITS ID</em></b> : 2012HZ78383
					 <br/>
					 <a href="html/documentation.html" style="color: grey">Documentation</a>
				</span>
			</p>			
			<img id="imagbits" alt="" src="images/bits.gif">
		</footer>				
		
	</body>
</html>
