<!DOCTYPE html>
<html lang="en" ng-app="SemanticWikiSearchApp">
	<head>		
		<title>SemanticWikiSearch</title>
		
		<link rel="stylesheet" type="text/css" href="css/wiki-search.css"></link>
		
		<script type="text/javascript" src="js/thirdparty/angular.js"></script>
		<script type="text/javascript" src="js/thirdparty/angular-route.js"></script>
		
		<script type="text/javascript" src="js/router-config.js"></script>
		<script type="text/javascript" src="js/main-controller.js"></script>
		<script type="text/javascript" src="js/keyword-searchresults-controller.js"></script>
		<script type="text/javascript" src="js/multipleoption-searchresults-controller.js"></script>
		<script type="text/javascript" src="js/company-information-controller.js"></script>
		<script type="text/javascript" src="js/update-notes-controller.js"></script>
	</head>
	
	<body ng-controller="MainController">		
		<header>			
			<img id="imagcts" src="images/cts.jpg">
			<img id="imgRDFa" src="images/RDFa.jpg"/>		
			<h2>Company Profile Search - A Semantic approach</h2>
			<p>
				<b style="color:grey">
					<em>Sophisticated Search of a Company's Profile. Powered with WikiPedia-DBPedia's Data</em>
				</b>
			</p>
			<img id="imagSPARQL" src="images/sparql.jpg"/>
			<img id="imagbits" src="images/bits.gif">
		</header>
		
		<nav1>
			<div>
				<br/>
				<form action="" name="Keyword Search">			
					<b>Keyword Search : </b> <input ng-model="keyword" type="search"></input>			
					<input type="radio" ng-model="searchOption" value="Exact">Exact Match
					<input type="radio" ng-model="searchOption" value="Contains">Contains
					<input type="radio" ng-model="searchOption" value="StartsWith">Starts With
					&nbsp;&nbsp;
					<button type="submit" ng-click="keywordSearch();">Submit</button>
				</form>
			</div>
		</nav1>
		
		<nav2>
			<br/>		
			<div>
				<b>Multiple Option Search</b>
				<form action="" name="Multi Option Search">
					<table id="multipleOptionTable">
						<tbody>
							<tr>
								<td>
									<b>Company Name</b> 
								</td>								
								<td>
									<input ng-model="companyName" type="text"  />
								</td>
							</tr>
							<tr  >
								<td>
									<b>Industry Name </b> 
								</td>
								<td>
									<input ng-model="industryName" type="text"  />
								</td>
							</tr>
							<tr  >
								<td>
									<b>Stock Symbol</b> 
								</td>
								<td>
									<input ng-model="stockSymbol" type="text"  />
									</td>
							</tr>
							<tr  >
								<td>
									<b>key People </b> 
								</td>
								<td>
									<input ng-model="keyPeople" type="text"  />	
								</td>
							</tr>
							<tr  >
								<td>
									<b>Employee Size > </b> 
								</td>
								<td>
									<input ng-model="greaterThanEmployeeSize" name=empsize1-test type=range min=1000 max=1000000 step=1000 onchange="this.form.empsize1.value=this.value;">						
									<output name=empsize1 for=range-test value=0></output>
								</td>	
							</tr>
							<tr  >						
								<td>
									<b>Employee Size < </b>
								</td>
								<td>
								<input ng-model="lesserThanEmployeeSize" name=empsize2-test type=range min=1000 max=1000000 step=1000 onchange="this.form.empsize2.value=this.value;">
								<output name=empsize2 for=range-test value=0></output>
								</td>
							</tr>
							<tr  >
								<td>
									<b>Founded Date > </b> 
								</td>
								<td>
									<input ng-model="foundingDate" type="date"  />
								</td>
								</tr>
							<tr  >
								<td>
									<b>Founded By </b> 
								</td>
								<td>
								<input ng-model="foundedBy" type="text"  />
								</td>
							</tr>
							<tr  >
								<td>
									<b>Income > </b>
								</td>
								<td>
								 <input ng-model="income" type="number"  />	
								</td>
							</tr>
							<tr  >
								<td>
									<b>Revenue > </b> </td>
								<td><input ng-model="revenue" type="number"  />		
								</td>
							</tr>
							<tr >
								<td>
									<b>City  </b></td>
								<td><input ng-model="city" type="text"  />	
								</td>
								</tr>
							<tr >
								<td>
									<b>Country  </b> </td>
								<td><input ng-model="country" type="text"  />	
								</td>
							</tr>
							<br/>
							&nbsp;&nbsp;
							<button type="reset" >Reset</button>
							&nbsp;&nbsp; 
							<button type="submit" ng-click="multipleOptionSearch();">Submit</button>					
														
						</tbody>
					</table>				
				</form>
			</div>
			<!--div ng-hide="company">
				<br/>
				<b ng-show="keyword || companyName || industryName || stockSymbol || greaterThanEmployeeSize || lesserThanEmployeeSize 
									|| foundedBy || foundedDate || income || revenue || city || state || country" >
					Input Search Criteria
				</b>
				<br/>
				<span style="" ng-show="keyword">Company Keyword : <span style="color:black" ng-show="keyword">{{keyword}} </span></span>&nbsp;&nbsp;&nbsp;
				<span style="" ng-show="companyName">companyName : <span style="color:black" ng-show="companyName">{{companyName}}  </span></span>&nbsp;&nbsp;&nbsp;						
				<span style="" ng-show="industryName">industryName : <span style="color:black" ng-show="industryName"> {{industryName}}  </span></span>&nbsp;&nbsp;&nbsp;
				<span style="" ng-show="stockSymbol">stockSymbol : <span style="color:black" ng-show="stockSymbol">{{stockSymbol}} </span> </span>&nbsp;&nbsp;&nbsp;
				<span style="" ng-show="keyPeople">keyPeople : <span style="color:black" ng-show="keyPeople">{{keyPeople}} </span> </span>&nbsp;&nbsp;&nbsp;
				<span style="" ng-show="greaterThanEmployeeSize">greaterThanEmployeeSize : <span style="color:black" ng-show="greaterThanEmployeeSize">{{greaterThanEmployeeSize}} </span> </span>&nbsp;&nbsp;&nbsp;
				<span style="" ng-show="lesserThanEmployeeSize">lesserThanEmployeeSize : <span style="color:black" ng-show="lesserThanEmployeeSize">{{lesserThanEmployeeSize}}  </span></span>&nbsp;&nbsp;&nbsp;
				<span style="" ng-show=foundedBy>foundedBy : <span style="color:black" ng-show=foundedBy>{{foundedBy}}  </span></span>&nbsp;&nbsp;&nbsp;
				<span style="" ng-show="foundedDate">foundedDate : <span style="color:black" ng-show="foundedDate"> {{foundedDate}}  </span></span>&nbsp;&nbsp;&nbsp;
				<span style="" ng-show="income">income : <span style="color:black" ng-show="income">{{income}} </span> </span>&nbsp;&nbsp;&nbsp;
				<span style="" ng-show="revenue">revenue : <span style="color:black" ng-show="revenue"> {{revenue}}  </span></span>&nbsp;&nbsp;&nbsp;
				<span style="" ng-show="city">city : <span style="color:black" ng-show="city">{{city}}  </span></span>&nbsp;&nbsp;&nbsp;		
				<span style="" ng-show="country">country : <span style="color:black" ng-show="country">{{country}}  </span></span>&nbsp;&nbsp;&nbsp;								
			</div-->
		</nav2>
	
		<section>				
			<div ng-view>
			</div>
		</section>					

		<!--footer>
			<img id="imagcognizant" alt="" src="images/cognizant.jpg">
			<p style="padding-left: 100px ; padding-right:100px ; color: blue; text-align: center;">
				<b>This is a research project submitted for BITS MS-Software Engineering Thesis - demonstrating the capabilities of Semantic Technologies - SPARQL, RDFa and Semantic Markups</b>				
				<br/>
				<span style="color: grey">
					 @ <b><em>Guide</em></b>  : Raghul Nandagopal   ------ @ <b><em>Student Name</em></b> : Prabhakaran . T  -----   @ <b><em>BITS ID</em></b> : 2012HZ78383
					 <br/>
					 <a href="html/documentation.html" style="color: grey">Documentation</a>
				</span>
			</p>			
			<img id="imagbits" alt="" src="images/bits.gif">
		</footer-->				
	</body>
</html>