<!DOCTYPE html>
<html lang="en" ng-app="SemanticWikiSearchApp">
	<head>		
		<title>Semantic Wiki Search</title>
		
		<link rel="stylesheet" type="text/css" href="css/wiki-search.css"></link>		
		
		<script type="text/javascript" src="js/angular.js"></script>
		<script type="text/javascript" src="js/angular-route.js"></script>
		<script type="text/javascript" src="js/router-config.js"></script>
		<script type="text/javascript" src="js/main-controller.js"></script>
		<script type="text/javascript" src="js/keyword-searchresults-controller.js"></script>
		<script type="text/javascript" src="js/multipleoption-searchresults-controller.js"></script>
		<script type="text/javascript" src="js/company-information-controller.js"></script>
		<script type="text/javascript" src="js/update-notes-controller.js"></script>
	</head>
	
	<body ng-controller="MainController">		
		<header>			
			<img id="imagcts" src="images/cts.jpg">
			<h2>Company Profile Search - A Semantic approach</h2>
			<p>
				<b style="color:grey">
					<em>Sophisticated Search of a Company's Profile. Powered with WikiPedia-DBPedia's Data</em>
				</b>
			</p>
			<img id="imagbits" src="images/bits.gif">
		</header>
		
		<nav1>
			<div>
				<br/>
				<form action="" name="Keyword Search">			
					<b>Keyword Search : </b> <input ng-model="keyword" type="search"></input>			
					<input type="radio" ng-model="searchOption" value="Exact">Exact Match
					<input type="radio" ng-model="searchOption" value="Contains">Contains
					<input type="radio" ng-model="searchOption" value="StartsWith">Starts With
					&nbsp;&nbsp;<button type="submit" ng-click="keywordSearch();">Submit</button>					
				</form>
			</div>
		</nav1>
		
		<nav2>
			<br/>		
			<div>
				<b>Advanced Search</b>
				<form action="" name="Multi Option Search">
					<table id="multipleOptionTable">
						<tbody>
							<tr>
								<td>
									<b>Company Name</b> 
								</td>								
								<td>
									<input ng-model="companyName" type="text"  />
								</td>
							</tr>
							<tr  >
								<td>
									<b>Industry Name </b> 
								</td>
								<td>
									<input ng-model="industryName" type="text"  />
								</td>
							</tr>
							<tr  >
								<td>
									<b>Stock Symbol</b> 
								</td>
								<td>
									<input ng-model="stockSymbol" type="text"  />
									</td>
							</tr>
							<tr  >
								<td>
									<b>key People </b> 
								</td>
								<td>
									<input ng-model="keyPeople" type="text"  />	
								</td>
							</tr>
							<tr  >
								<td>
									<b>Employee Size > </b> 
								</td>
								<td>
									<input ng-model="greaterThanEmployeeSize" name=empsize1-test type=range min=1000 max=1000000 step=1000 onchange="this.form.empsize1.value=this.value;">						
									<output name=empsize1 for=range-test value=0></output>
								</td>	
							</tr>
							<tr  >						
								<td>
									<b>Employee Size < </b>
								</td>
								<td>
								<input ng-model="lesserThanEmployeeSize" name=empsize2-test type=range min=1000 max=1000000 step=1000 onchange="this.form.empsize2.value=this.value;">
								<output name=empsize2 for=range-test value=0></output>
								</td>
							</tr>
							<tr  >
								<td>
									<b>Founded Date > </b> 
								</td>
								<td>
									<input ng-model="foundingDate" type="date"  />
								</td>
								</tr>
							<tr  >
								<td>
									<b>Founded By </b> 
								</td>
								<td>
								<input ng-model="foundedBy" type="text"  />
								</td>
							</tr>
							<tr  >
								<td>
									<b>Income > </b>
								</td>
								<td>
								 <input ng-model="income" type="number"  />	
								</td>
							</tr>
							<tr  >
								<td>
									<b>Revenue > </b> </td>
								<td><input ng-model="revenue" type="number"  />		
								</td>
							</tr>
							<tr >
								<td>
									<b>City  </b></td>
								<td><input ng-model="city" type="text"  />	
								</td>
								</tr>
							<tr >
								<td>
									<b>Country  </b> </td>
								<td><input ng-model="country" type="text"  />	
								</td>
							</tr>
							<br/>
							&nbsp;&nbsp;
							<button type="reset" >Reset</button>
							&nbsp;&nbsp; 
							<button type="submit" ng-click="multipleOptionSearch();">Submit</button>					
														
						</tbody>
					</table>				
				</form>
			</div>
		</nav2>
	
		<article>				
			<div ng-view>
			</div>
		</article>			
	</body>
</html>